<p id="notice"><%= notice %></p>

<h1>Phones for <%= @person.display_name %></h1>

<%= render "list", phones: @phones %>

<br>

<%= link_to 'Back to person', person_path(@person) %>
<%= link_to 'New Phone', new_person_phone_path(@person) %>
