<%= form_with(model: [@person, @phone]) do |form| %>
  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
        <% @phone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :person_id, value: @person.id %>

  <div class="mb-2">
    <%= form.label :number, type: "phone", class: "form-label" %>
    <%= form.text_field :number, class: "form-control", id: "number" %>
  </div>

  <div class="mb-2">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control", id: "comment" %>
  </div>

  <div class="mb-2">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', person_phones_path(@person) %>
