<%= form_with(model: person) do |form| %>
  <i>Fields with * are required</i>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :salutation, class: "form-label" %>
    <%= form.select :salutation, Person.salutations, {}, {class: "form-control"} %>
  </div>

  <div class="mb-2 required">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control", required: true %>
  </div>

  <div class="mb-2">
    <%= form.label :middle_name, class: "form-label" %>
    <%= form.text_field :middle_name, class: "form-control" %>
  </div>

  <div class="mb-2 required">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", required: true %>
  </div>

  <div class="mb-2">
    <%= form.label :ssn, class: "form-label" %>
    <%= form.text_field :ssn, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :birth_date, class: "form-label" %>
    <div class="form-control"><%= form.date_select :birth_date, {start_year: Date.current.year - 116} %></div>
  </div>

  <div class="mb-2">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
