<main class="container d-flex flex-wrap justify-content-between">
  <div class="content">
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Salutation:</strong>
      <%= @person.salutation %>
    </p>
    
    <p>
      <strong>First name:</strong>
      <%= @person.first_name %>
    </p>
    
    <p>
      <strong>Middle name:</strong>
      <%= @person.middle_name %>
    </p>
    
    <p>
      <strong>Last name:</strong>
      <%= @person.last_name %>
    </p>
    
    <p>
      <strong>Ssn:</strong>
      <%= @person.ssn %>
    </p>
    
    <p>
      <strong>Birth date:</strong>
      <%= @person.birth_date %>
    </p>
    
    <p>
      <strong>Comment:</strong>
      <%= @person.comment %>
    </p>

    <div>
      <%= link_to 'Edit', edit_person_path(@person) %> |
      <%= link_to 'Back', people_path %>
    </div>
  </div>
    
  <div class="side">
    <div class="phones">
      <strong>Phones</strong>
      <%= render "./phones/list", phones: @person.phones  %>
      <div><%= link_to 'New Phone', new_person_phone_path(@person), class: "new" %></div>
    </div>
    
    <div class="emails">
      <strong>Emails</strong>
      <%= render "./emails/list", emails: @person.emails  %>
      <div><%= link_to 'New Email', new_person_email_path(@person) %></div>
    </div>
    
    <div class="addresses">
      <strong>Addresses</strong>
      <%= render "./addresses/list", addresses: @person.addresses  %>
      <div><%= link_to 'New Address', new_person_address_path(@person) %></div>
    </div>
  </div>
</main>
