<h1>New Address</h1>

<%= form_with(model: [@person, @address]) do |form| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% @address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :person_id, value: @person.id %>

  <div class="field required">
    <%= form.label :street %>
    <%= form.text_field :street, required: true %>
  </div>

  <div class="field required">
    <%= form.label :town %>
    <%= form.text_field :town, required: true %>
  </div>

  <div class="field required">
    <%= form.label :zip %>
    <%= form.text_field :zip, required: true %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.country_select :country, priority_countries: ["CZ", "US"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', person_addresses_path(@person) %>
