<p id="notice"><%= notice %></p>

<h1>Emails for <%= @person.display_name %></h1>

<%= render "list", emails: @emails %>
<br>
<%= link_to 'Back to person', person_path(@person) %>
<%= link_to 'New Email', new_person_email_path(@person) %>
