<!DOCTYPE html>
<html>
  <head>
    <title>AddressBookJosefPospisil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar"><h1><a href="/" class="navbar-brand">ABJP</a></h1><% if logged_in? %><a href="/logout">logout <%= current_user.username %></a> <% else %><a href="/signup">signup</a><% end %></nav>
    <%= yield %>
  </body>
</html>
