<!DOCTYPE html>
<html>
  <head>
    <title>AddressBookJosefPospisil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="nav"><h1>ABJP</h1></nav>
    <%= yield %>
  </body>
</html>
